a {
    text-decoration: none;
}

tei-p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

tei-sic {
    display: none;
}

tei-name{
    font-family: cursive;
}

tei-corr:before {
  content:'<a href="www.google.com">';
}

tei-corr:after {
  content: attr(data-content) '</a>';
}

tei-figure {
    padding-bottom: 40px;
}
